.intro-portfolio {
    background: url("../img/fundo-portfolio.jpg") no-repeat center;
    background-size: cover;
    margin-top: 70px;
}

.cliente-quote {
    padding: 50px 0;
    max-width: 460px;
    margin: 0 auto ;
}

.cliente-quote p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    font-style: italic;
    padding-bottom: 10px;
}
.cliente-quote cite{
    font-size: 18px;
    font-weight: bold;
    font-style: none;
    float: right;
    
}
