/*PRODUTOS*/

/*intro*/
.intro-produto {
    background: url("../img/fundo-produto.jpg") no-repeat center;
    background-size: cover;
    margin-top: 70px;
}

/*Produtos icones*/
.produto-item {
    padding-top:60px;
}

.produto-item h2 {
    color: white;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
    position: relative;
    top: -180px;
    text-align: center;
    margin-bottom: -56px;
    
}

.produto-item  h2::before, 
.produto-item h2::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: var(--white);
    margin: 6px auto 8px auto;
}

.produto-icone {
    background-color: var(--black);
    height: 280px;
}

.produto-icone img {
    width: 190px;
    margin: 30px auto;
}

.produto-info {
    background-color: var(--black);
    height: 280px;
   
}

.produto-info p {
    color: white;
    padding: 30px;
}

.produto-info ul {
    position: relative;
    top: 15px;
    
}

.produto-info ul li {
    background-color: var(--yellow);
    display: inline-block; 
    width: 227.7px;
    padding: 15px 80px;
    margin-top: 4px;
    font-weight: bold;
}

/*Orcamento form*/ 
.orcamento {
    width: 100%;
    background: var(--black);
    color: var(--white);
    margin-top: 50px;
    padding: 40px 0;
}
.subtitulo {
    color: var(--yellow);
}

.subtitulo::after{
    background-color: var(--yellow);
    margin-bottom: 20px;
}


.form {
    padding-right: 60px;
    border-color: var(--yellow);
}

.form label {
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 4px;
}

.form input, .form textarea {
    display: block;
    width: 100%;
    border: 4px solid var(--yellow);
    background: none;
    padding: 7px 10px;
    margin-bottom: 20px;

    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
}
.form textarea {
    height: 120px;
}

.form button {
    background: none;
    padding: 7px 40px;
}

.orcamento-dados h3{
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--yellow);
}

.orcamento-dados span {
    display:  block;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
}

.orcamento-dados p {
    margin: 8px 0 ;
}

.dados-email {
    margin-bottom: 40px;
}
.orcamento-dados ul {
    padding-right: 60px;
}
.orcamento-dados ul li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    padding: 10px 15px;

}

.orcamento-dados ul li:nth-child(odd) {
    background-color: #1d1d1d;
}