@media only screen and (min-width: 768px ) and (max-width: 956px) {
    /*qualidade home*/
    .qualidade::after {
        left: 63px;
    }

    /*Footer*/
    .contato{
        margin-left: -20px;
    }

    .redes {
        margin-left: 35px;
    }

    .redes-sociais i {
        font-size: 30px;
        padding: 3px;
    
    }

                                        /*PRODUTOS*/
    .produto-icone {
        height: 222px;
        width: 210px;
    }
    .produto-icone img {
        width: 160px;
    }
    .produto-foto02 img {
        height: 280px;
    }
    .produto-info ul li {
        background-color: var(--yellow);
        display: inline-block; 
        width: 179.7px;
        padding: 10px 0;
        margin-top: 4px;
        font-weight: bold;
    }
    
}
/*Estilo para smartphones*/
@media only screen and (max-width: 767px) {
                                                            /*HOME*/

    /*header*/
    .header {
        position: relative;
        padding-bottom: 0;
    }

    header img {
        margin: 5px auto;
    }

    .header_nav {
        text-align: center;
        margin-top: 20px;
    }

    .header_nav ul li {
        margin: 0;
    }
    
    .header_nav ul li a {
        border: 4px solid var(--black);
        width: 140px;
        display: block;
        float: left;
    }

    .header_nav ul li a:hover{
        border: 4px solid var(--white);
    }

    /* Intro*/

    .intro, .intro-interna {
        margin-top: 0px;
    }

    .intro h1 {
        font-size: 40px;
    }

    /*Produtos home*/

   .call {
        padding-top: 20px;
    }

    /*Portfolio home*/
    .portfolio {
        padding-bottom: 60px;
    }
    .portfolio ul li img:last-child {
        height: 260px;
    }

    /*Qualidade home*/
    .qualidade::after {
       display: none;
    }

    .qualidade .call {
        padding:10px 0 40px;
    }

                                                     /*SOBRE */

  /*- visao*/

  .missao {
    padding-right: 0px;
    }

    .sobre-imagem img {
        display: none;
    } 
    
    /*qualidade*/

    .qualidade-sobre {
        background-color: black;
        display: block;
        color: white;
        padding-top: 0;
        padding-bottom: 20px;
        margin-bottom: 10px;
    }

    .qualidade h2 {
        color: white;
        padding-top: 20px;
    }

    .subtitulo::after, .qualidade-list li h3::after{
        background-color: white;
    }

                                    /*PRODUTOS*/
    
    .produto-item h2 {
        font-size: 24px;
        top: -95px;
        text-align: center;
        margin-bottom: -56px;
        
    }

    .produto-icone {
        height: 220px;
        
    }
    
    .produto-icone img {
        width: 170px;
        padding-top: 20px;
    }

    .produto-info ul {
        position: relative;
        top: -17px;
        
    }
    
    .produto-info ul li {
        background-color: var(--yellow);
        display: inline-block; 
        width: 147.78px;
        padding: 8px 0;
        margin-top: 4px;
        font-weight: bold;
    }

}
